{
    "logFile": "/opt/factorio/factorio-server.log",
    "eventsLogger": {
        "enable": true,
        "elFile": "/opt/factorio/script-output/game-events.json",
        "events": {
            "ACHIEVEMENT_GAINED": true,
            "DIED": true,
            "EVOLUTION": true,
            "JOIN": true,
            "LEAVE": true,
            "RESEARCH_STARTED": true,
            "RESEARCH_FINISHED": true,
            "RESEARCH_CANCELLED": true
        }
    },
    "cleanMessages": false,
    "adminsCanRunCommands": false,
    "logLevel": "info",
    "startupMessage": {
        "enabled": true,
        "message": "Factorio Chat Relay is now Online!"
    },
    "game": {
        "factorioPath": "/opt/factorio/bin/x64/factorio",
        "checkUpdates": false,
        "factorioSettingsPath": "/opt/factorio/data/server-settings.json",
        "checkModUpdates": false,
        "factorioModsPath": "/opt/factorio/mods",
        "userToNotify": "User ID",
        "checkTime": 500000
    },
    "rcon": {
        "ip": "127.0.0.1",
        "port": 8080,
        "password": "password",
        "timeout": 2000
    },
    "bot": {
        "chatChannel": "Channel ID",
        "token": "Bot Token",
        "applicationID": "Application ID"
    }
}
